# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Mac crap
.DS_STORE
.DS_Store

*.DS_Store

*.gitignore

._Makefile

.ccsproject
.cproject
.project

